* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #FF5E5B, #F9A826, #F2C93D);
    color: white;
    padding: 0 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin: 40px 0;
}

button {
    background-color: #F9A826;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF5E5B;
}

/* Всплывающее окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 10% auto;
    color: black;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
